@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(241, 245, 241);
}

input[type="number"] {
  width: 70px;
}

img {
  width: 100%;
}
